.square {
    width: 250px;
    height: 250px;
    margin: 1rem 0 2rem 1rem;
    background-color: #0000ff;
    
}

/*Blue to green */
#color .square {
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:  background-color;
    -ms-transition-property:  background-color;
    transition-property:  background-color;
    -webkit-transition-duration: 5s;
    -moz-transition-duration: 5s;
    -o-transition-duration: 5s;
    -ms-transition-duration: 5s;
    transition-duration: 5s;
}
#color .square:hover {
    background-color: #008000;
    
}
/*SQuare to circle */
#circle .square {
    -webkit-transition-property:  border-radius, background-color;
    -moz-transition-property:  border-radius, background-color;
    -o-transition-property:  border-radius, background-color;
    -ms-transition-property:  border-radius, background-color;
    transition-property:  border-radius, background-color;
    -webkit-transition-duration: 2s, 5s;
    -moz-transition-duration:2s, 5s;
    -o-transition-duration:2s, 5s;
    -ms-transition-duration:2s, 5s;
    transition-duration:2s, 5s;
    
}

#circle .square:hover  {
    border-radius: 50%;
    background-color: #800080;
}